body {
  margin: 0;
}

.main-container {
  width: 100vw;
  min-height: 100svh;
  height: auto;
  background-color: #2A0E07;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  max-width: 40rem;
}

.main-text {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 1rem auto 0;
  max-width: 40rem;
  text-align: center;
}

.link-text {
  color: #cdcdcd;
  text-decoration: none;
}

.music-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.instagram-icon {
  width: 4rem;
  height: 4rem;
}

.music-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.music-link:hover {
  opacity: 0.6;
  transition-duration: 0.25s;
}

@media (max-width: 720px) {
  .main-container {
    padding: 0rem 1rem;
    max-width: calc(100vw - 2rem);
    justify-content: flex-start;
  }

  .main-image {
    margin-top: 3rem;
    width: calc(100% - 2rem);
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .main-text {
    text-align: center;
  }

  .instagram-icon {
    width: 3rem;
    height: 3rem;
  }

  .music-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}